fastapi==0.118.1
uvicorn[standard]>=0.23.0
pydantic>=2.6.0
python-dotenv>=1.0.1
motor==3.7.1
passlib[bcrypt]>=1.7.4
PyJWT>=2.9.0
email-validator>=2.3.0
python-multipart>=0.0.6
typing-extensions>=4.8.0
